.container {
  // border: dotted;
  // padding: 0.01em 16px;

  // width: 80%;

  // padding-top: 16px;
  // padding-bottom: 16px;

  color: #fff;

  font-size: 18px;
  

  &__half {
    padding: 0 1rem;

    float: left;
    // width: 100%;

    width: 33.33%;
    cursor: pointer;
  }

  &__display {
    position: relative;

    &:hover {
      display: block;
      display: inline-block;
    }

    &__bottom_left {
      // position: absolute;
      left: 0;
      bottom: 0;

      padding: 8px 16px;
    }
  }
}
