.fale_conosco {
  padding: 0.01em 16px;
  margin: 3rem 20%;

  &__input {
    padding: 8px;

    border-bottom: 1px solid #ccc;
    width: 100%;
    border-radius: .3rem;

    border: 1px solid #ccc;
  }

  &__button {
    border: none;
    padding: 12px 24px;
    text-decoration: none;
  
    cursor: pointer;
    border-radius: .3rem;

    color: #fff;
    background-color: #000;

    transition: .3s;

    &:hover {
      color: #000;
      background-color: #ccc;
    }
  }
}
