.fale_conosco {
  padding: 0.01em 16px;
  margin: 3rem 20%;

  &__input {
    padding: 8px;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;

    padding-top: 16px;
    padding-bottom: 16px;

    border: 1px solid #ccc;
  }

  &__button {
    white-space: normal;

    border: none;
    display: inline-block;
    padding: 12px 24px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;

    color: #fff;
    background-color: #000;

    &:hover {
      color: #000;
      background-color: #ccc;
    }
  }

  &:after, &:before {
    content: "";
    display: table;
    clear: both;
  }
}