.footer {
  padding: 1rem 0;

  color: #fff;
  background-color: #000;

  width: 100%;

  text-align: center;

  &__social {
    padding: 12px 0;
    font-size: 3rem;

    &__icon {
      padding: 0 .8rem 2rem .8rem;
      cursor: pointer;
      transition: .3s;

      &:hover {
        opacity: .6;
      }
    }
  }

  &__contact {
    color: #f44336;
    padding: 0 .5rem;
  }
}