.footer {
  padding-top: 32px;
  padding-bottom: 32px;

  margin-top: 16px;

  color: #fff;
  background-color: #000;

  display: inline-block;
  width: 100%;

  text-align: center;

  &__social {
    font-size: 24px;

    padding-top: 16px;
    padding-bottom: 16px;

    &__opacity {
      opacity: .6;
    }
  }

  &__contact {
    color: #f44336;
    width: 30px;
  }
}