.row-padding {
  // padding: 0 8px;
  text-align: center;

  padding-left: 8rem;
  padding-right: 8rem;
  padding-top: 4rem;
  padding-bottom: 4rem;

  // color: #fff;

  font-size: 18px;

  &:after, &:before {
    content: "";
    display: table;
    clear: both;
  }
}
