@use "var";
@use "mixins" as mix;

@use "init";

@use "header";

@use "registro";

@use "fale_conosco";

@use "footer";

@use "desktop";
@use "mobile";


.row_padding_history {
  @include mix.row-padding;

  padding: 2rem 20%;
  line-height: 2;
}

.row_padding_experiences {
  @include mix.row-padding;

  padding: 2rem 5%;
}

.container {
  padding: 1.5rem 3rem;

  float: left;

  width: 33.33%;
  cursor: pointer;

  &__display {
    position: relative;
    transition: .3s ease;

    &:hover &__overlay {
      opacity: 1;
    }

    &:hover &__bottom_left {
      opacity: 0;
    }

    &__bottom_left {
      position: absolute;
      left: 0;
      bottom: 5%;

      text-align: center;
      padding: 0 2rem;

      color: antiquewhite;
      text-shadow:  3px 3px 5px rgb(15, 15, 15);
      font-weight: bold;
      font-size: auto;

      transition: .3s ease;
    }

    &__overlay {
      position: absolute;
      display: flex;

      bottom: 5%;
      background: rgb(0, 0, 0);
      background: rgba(0, 0, 0, 0.5);
   
      font-size: auto;

      transition: .3s ease;
      opacity: 0;
      color: antiquewhite;
      text-shadow: 3px 3px 5px rgb(15, 15, 15);
      padding: 2rem;
      text-align: center;
    }
  }
}
